<p>Listado de heroes</p>

<ul>
    <!-- funcion paracida a la del for *ngfor -->
    <li *ngFor="let heroe of heroes; let i=index">
        {{i+1}}-{{heroe}}
    </li>
    <div *ngIf="heroeBorrado !== ''; else noBorrado">
        <h4>Heroe Borrado: <small>{{heroeBorrado }}</small></h4>
    </div>
<!-- #referencia local del lado del template,codigo html -->
    <ng-template #noBorrado> 
        <h4>No se ha borrado</h4>
    </ng-template>
</ul>
<button (click)="borrarHeroe()">Borrar Heroe</button>